<%- include('partials/header'); -%>
<div class="aboutcontainer">
    <div id="aboutdiv">
        <h1>About us</h1>
        <br>
        <p>
            We are aiming to start a positive news and media company for kids. Just imagine how does a 10 year old kid would look at the world if he is seeing news tv channels 24x7 with his family everyday. There are riots, pandemic, encounters, suicides and youtube is filled with objectionable content so a question arises do our kids really need to see all this? Yes, they do need to understand the concept of poverty, depression and pandemic but we don't need to bombard them with all the negative news and Indian parents also don't have an option these channels, newspapers and twitter are the only source for their updates and news.<br>
            <br>
            So we want to solve this problem, in simple words: We want to build a positive platform for kids to learn new things and see that this world is not bad at all, good things happen everyday here. Most kids can hardly read so we have also attached listen news feature with each article and speed of the audio can also be changed.<br>
        </p> 
    </div>
</div>
<%- include('partials/footer'); -%>