<%- include('partials/header'); -%>
<div id="post">

    <h1 id="posttitle">
        Contact us
    </h1>

    <p id="postcontent">
        You can write to us at: shivam.bhatia54321@gmail.com
    </p> 
    
</div>
<%- include('partials/footer'); -%>