<%- include('partials/header') %>
<div id="registerdiv">

  <h1 id="registerhead">
    Register
  </h1>

  <br>

  <form action="/register" method="POST">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="Orange_Btn">Register</button>
  </form>
  <center>
    <a href="/login" id="backBtn"><-Back</a>
  </center>
</div>

<%- include('partials/footer') %>
